[submodule "kindyn"]
	path = kindyn
	url = https://github.com/CARDSflow/kindyn
[submodule "roboy_communication"]
	path = roboy_communication
	url = https://github.com/Roboy/roboy_communication
[submodule "robots"]
	path = robots
	url = https://github.com/CARDSflow/robots
[submodule "cardsflow_rviz"]
	path = cardsflow_rviz
	url = https://github.com/CARDSflow/cardsflow_rviz
[submodule "common_utilities"]
	path = common_utilities
	url = https://github.com/Roboy/common_utilities
[submodule "cardsflow_gazebo"]
	path = cardsflow_gazebo
	url = https://github.com/cardsflow/cardsflow_gazebo
[submodule "cardsflow_rqt"]
	path = cardsflow_rqt
	url = https://github.com/CARDSflow/cardsflow_rqt
[submodule "iDynTree"]
	path = iDynTree
	url = https://github.com/robotology/iDynTree
[submodule "qpOASES"]
	path = qpOASES
	url = https://github.com/robotology-dependencies/qpOASES
